/*A universal selector- targets all elements on the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* An element selector which targets the element by name (body) and applies the specified CSS property mentioned. This property will be
applied to the entire body in the HTML*/
body {
    background-color: #d9dcd6;
}

/* A class selector; these CSS properties will be applied to all elements containing this class attribute (.header)*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*A class selector- the specified properties will be applied to all elements containing the class attribute .hero */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* A class selector- the specified properties will be applied to all elements containing the class attribute .content*/ 
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*A class selector- the specified properties will be applied to all elements containing the class selector .search-engine-optimization */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*The same class selector as above is used here again to specifically target the image contained within the div element. The div element contains the class attribute and any
tags/elements within div can be targeted again using the same class attribute.*/
.search-engine-optimization img {
    max-height: 200px;
}

/*The same class selector as above is used here again to specifically target the h2 tag contained within the div element.The div element contains the class attribute and any
tags/elements within div can be targeted again using the same class attribute.*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*A class selector- targeting the positioning of the image*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*A class selector-the header class here is specifically targeting the h1 tag and the following properties are applied*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*A class selector-the header class here is specifically targeting the h1.seo tag and the following properties are applied*/
.header h1 .seo {
    color: #d9dcd6;
}


/*A class selector-the header class here is specifically targeting the div tag and the following properties are applied*/
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*A class selector-the header class here is specifically targeting the div ul tags and the following properties are applied*/
.header div ul {
    list-style-type: none;
}
/*A class selector-the header class here is specifically targeting the div ul li tags and the following properties are applied*/
.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*An element selector- these properties will be applied to all elements with this name */
a {
    color: #ffffff;
    text-decoration: none;
}


/*An element selector- these properties will be applied to all elements with this name */
p {
    font-size: 16px;
}

/* A class selector- the specified properties will be applied to all elements containing the class attribute .benefits*/ 
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* A grouping selector: selects all the HTML elements with the same class attribute, easier to do this and
it also makes CSS appear neater*/
.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* A grouping selector: selects all the HTML elements with the same class attribute, easier to do this and
it also makes CSS appear neater*/
.benefit-lead h3, .benefit-brand h3, .benefit-cost h3  {
    margin-bottom: 10px;
    text-align: center;
}

/* A grouping selector: selects all the HTML elements with the following class attributes, easier to do this and
it also makes CSS appear neater*/
.benefit-lead img, .benefit-brand img, 
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*A class selector- the specified properties will be applied to all elements containing the class selector .online-reputation-management */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*The same class selector as above is used here again to specifically target the img tag contained within the div element.The div element contains the class attribute and any
tags/elements within div can be targeted again using the same class attribute of .online-reputation-management.*/
.online-reputation-management img {
    max-height: 200px;
}

/*The same class selector as above is used here again to specifically target the h2 tag contained within the div element.The div element contains the class attribute and any
tags/elements within div can be targeted again using the same class attribute.*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*A class selector- targeting the positioning of the image*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*A class selector- the specified properties will be applied to all elements containing the class selector .social-media-marketing */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*The same class selector as above is used here again to specifically target the img tag contained within the div element.The div element contains the class attribute and any
tags/elements within div can be targeted again using the same class attribute of .social-media-marketing.*/
.social-media-marketing img {
    max-height: 200px;
}

/*The same class selector as above is used here again to specifically target the h2 tag contained within the div element.The div element contains the class attribute and any
tags/elements within div can be targeted again using the same class attribute.*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*A class selector- the following CSS properties are applied to all elements containing this class attribute */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*A class selector- .footer is used again but this time to target a h2 text within the */
.footer h2 {
    font-size: 20px;
}
